.content
  %ul.content__upr
    %li.content__upr__left
      出入り口
    %li.content__upr__ctr
      吹き抜け
    %li.content__upr__right
      出入り口
  .content__ctr
    .content__ctr__title
      据置台
    .content__ctr__table
      %ul.content__ctr__table__left-left
        %li.content__ctr__table__left-left__pc
          AB123456
        %li.content__ctr__table__left-left__pc
          AB123456
        %li.content__ctr__table__left-left__pc
          AB123456
        %li.content__ctr__table__left-left__pc
          AB123456
        %li.content__ctr__table__left-left__pc
          AB123456
      %ul.content__ctr__table__left-right
        %li.content__ctr__table__left-right__pc
          AB123789
        %li.content__ctr__table__left-right__pc
          AB123789
        %li.content__ctr__table__left-right__pc
          AB123789
        %li.content__ctr__table__left-right__pc
          AB123789
        %li.content__ctr__table__left-right__pc
          AB123789
      %ul.content__ctr__table__ctr-1-left
        %li.content__ctr__table__ctr-1-left__pc
          AB123123
        %li.content__ctr__table__ctr-1-left__pc
          AB123123
        %li.content__ctr__table__ctr-1-left__pc
          AB123123
        %li.content__ctr__table__ctr-1-left__pc
          AB123123
        %li.content__ctr__table__ctr-1-left__pc
          AB123123
      %ul.content__ctr__table__ctr-1-right
        %li.content__ctr__table__ctr-1-right__pc
          AB123456
        %li.content__ctr__table__ctr-1-right__pc
          AB123456
        %li.content__ctr__table__ctr-1-right__pc
          AB123456
        %li.content__ctr__table__ctr-1-right__pc
          AB123456
        %li.content__ctr__table__ctr-1-right__pc
          AB123456
      %ul.content__ctr__table__ctr-2-left
        %li.content__ctr__table__ctr-2-left__pc
          AB123789
        %li.content__ctr__table__ctr-2-left__pc
          AB123789
        %li.content__ctr__table__ctr-2-left__pc
          AB123789
        %li.content__ctr__table__ctr-2-left__pc
          AB123789
        %li.content__ctr__table__ctr-2-left__pc
          AB123789
      %ul.content__ctr__table__ctr-2-right
        %li.content__ctr__table__ctr-2-right__pc
          AB123123
        %li.content__ctr__table__ctr-2-right__pc
          AB123123
        %li.content__ctr__table__ctr-2-right__pc
          AB123123
        %li.content__ctr__table__ctr-2-right__pc
          AB123123
        %li.content__ctr__table__ctr-2-right__pc
          AB123123
      %ul.content__ctr__table__right
        %li.content__ctr__table__right__pc
          AB123456
        %li.content__ctr__table__right__pc
          AB123456
        %li.content__ctr__table__right__pc
          AB123456
        %li.content__ctr__table__right__pc
          AB123456
        %li.content__ctr__table__right__pc
          AB123456
  .content__remote
    .content__remote__title
      リモート台
    .content__remote__table
      %ul.content__remote__table__table-l
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
        %li.content__remote__table__table-l__pc
          AB123789
      %ul.content__remote__table__table-r
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123
        %li.content__remote__table__table-r__pc
          AB123123