.wrapper
  .header
    .header__title
      CAD空き台検索
    %ul.header__center
      %li.header__center__dep-hp-a
        電気システム部HP
      %li.header__center__dep-hp-b
        機械システム部HP
    .header__left
      .header__left__top
        使用中PC-No:AB01234
      %ul.header__left__btm
        %li.header__left__btm__left-btn
          ログイン
        %li.header__left__btm__right-btn
          新規登録
  .content
    %ul.content__upr
      %li.content__upr__left
      %li.content__upr__ctr
      %li.content__upr__right
    %ul.content__ctr
      %li.content__ctr__left-left
      %li.content__ctr__left-right
      %li.content__ctr__ctr-1-left
      %li.content__ctr__ctr-1-right
      %li.content__ctr__ctr-2-left
      %li.content__ctr__ctr-2-right
      %li.content__ctr__right
    %ul.content__remote
      %li.content__remote__table
      %li.content__remote__table
      %li.content__remote__table
      %li.content__remote__table
  .footer
    .footer__upr
      電子システム部CAD台検索
    .footer__cpy
      Copyright electronic engineering dev.