.wrapper
  .header
    .header__title
      = link_to root_path do
        CAD空き台検索
    %ul.header__center
      %li.header__center__dep-hp-a
        電気システム部HP
      %li.header__center__dep-hp-b
        機械システム部HP
    .header__info
      使用中PC情報
    %ul.header__user
      %li.header__user__left-content
        ログイン
      %li.header__user__right-content
        新規登録
  .content
    %ul.content__upr
      %li.content__upr__left
        出入り口
      %li.content__upr__ctr
        吹き抜け
      %li.content__upr__right
        出入り口
    .content__ctr
      %ul.content__ctr__left-left
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
        %li.content__ctr__left-left__pc
          AB123456
      %ul.content__ctr__left-right
      %ul.content__ctr__ctr-1-left
      %ul.content__ctr__ctr-1-right
      %ul.content__ctr__ctr-2-left
      %ul.content__ctr__ctr-2-right
      %ul.content__ctr__right
    %ul.content__remote
      %li.content__remote__table
      %li.content__remote__table
      %li.content__remote__table
      %li.content__remote__table
  .footer
    .footer__upr
      電子システム部CAD台検索
    .footer__cpy
      Copyright © 2020 Electronic System Div.